body{
  margin:0px;
  padding:0px;
  margin-top: 24px;
}
.login .page__background{
    background: rgba(0, 0, 0, 0) url("../image/login-background.png") no-repeat center 10px fixed; 
	-webkit-background-size: cover;
	background-size: cover;
    
}
 
.login-form {
  text-align: center;
  width: 80%;
  margin: 60px auto 0;
}

input[type=email], input[type=password] {
  display: block;
  width: 100%;
  margin: 0 auto;
  outline: none;
  
}

.login-button {
  width: 100%;
  margin: 0 auto;
}

.logo-login{
    text-align:center;
    margin-top: 110px;
}

.logo-login img{
    width:140px;
}

.forgot-password {
  display: block;
  margin: 8px auto 0 auto;
  font-size: 14px;
}

